In [5]:
#importing panda library
#panda uses
#excel file format, csv file format,txt file format

In [6]:
import pandas as pd

In [7]:
#create a dataframe called df

In [8]:
df=pd.read_excel(r"c:\Users\lenovo yoga 11e\Desktop\WITU COHORT 3\YEAR ONE\SEMESTER ONE\introduction to data science and machine learning\data\dataset.xlsx.xlsx")

print(df)

    S/N                      Name  Age  Height  Weight
0     1            Adokorac Nancy   20  177.80      74
1     2   Amutuhaire Faith Ahabwe   27  157.50      47
2     3     KWAGALA JOANNA VICTOR   21  210.82      54
3     4              mahoro cathy   23  187.96      30
4     5  Mbabazi Hawa Bint Edrisa   19  175.25      59
5     6       Nakanjako josephine   24  175.25      65
6     7            Nanteza Dorcus   21  157.48      69
7     8             Mbabazi Angel   19  167.64      57
8     9            Namara Racheal   19  154.94      55
9    10       Lwamulungi Sheillah   22  162.56      78
10   11           Nakawuka Sandra   25  175.25      60
11   12   Achola Gloria Fortunate   27  172.72      80
12   13             Nagawa Esther   21  187.96      58
13   14           wanjiku hananny   19  165.10      50
14   15            babirye Sandra   21  175.25      50
15   16          nakagga shanitah   21  175.25      50
16   17    Wembabazi Vivian Ritah   20  160.02      49
17   18   Nanziri Ritah Namayanja   23  162.56      70
18   19            Nasejje Mariam   20  101.60      62
19   20  Namukose Jolline Edriana   20  162.56      55
20   21      Agatha Faith Anyango   27   93.98      55
21   22              Kirabo Sarah   23  165.10      60
22   23          Nansalire Anitah   21   63.50      45
23   24             Nalugo gladys   19  101.60      70
24   25            Namakula Allen   20  170.18      55
25   26           Tukahirwa emily   22  175.26      67
26   27            Shamirah Ahmed   21  137.16      67
27   28          Ameso lmmaculate   23  165.10      64
28   29                Ayoo Teddy   20  157.48      50
29   30                Biira Mary   30  104.14      65
30   31        Aloyo Brenda Ojera   23  170.18      52
31   32        Ayebale Immaculate   24  162.56      50

In [9]:
df['Height']=pd.to_numeric(df['Height'], errors='coerce')
df.dropna(subset=['Height'], inplace=True)

In [10]:
df.tail(10)

    S/N                Name  Age  Height  Weight
22   23    Nansalire Anitah   21   63.50      45
23   24       Nalugo gladys   19  101.60      70
24   25      Namakula Allen   20  170.18      55
25   26     Tukahirwa emily   22  175.26      67
26   27      Shamirah Ahmed   21  137.16      67
27   28    Ameso lmmaculate   23  165.10      64
28   29          Ayoo Teddy   20  157.48      50
29   30          Biira Mary   30  104.14      65
30   31  Aloyo Brenda Ojera   23  170.18      52
31   32  Ayebale Immaculate   24  162.56      50

In [11]:
df.Age

0     20
1     27
2     21
3     23
4     19
5     24
6     21
7     19
8     19
9     22
10    25
11    27
12    21
13    19
14    21
15    21
16    20
17    23
18    20
19    20
20    27
21    23
22    21
23    19
24    20
25    22
26    21
27    23
28    20
29    30
30    23
31    24
Name: Age, dtype: int64

In [12]:
#Getting mean of the age,variance and standard deviation

In [13]:
df ['Age'].mean()

22.03125

In [14]:
df[ 'Age'].var()

7.644153225806452

In [15]:
df['Age'].std()

2.7648061823220904

In [16]:
#Getting the mean of height,variance and standard deviation

In [17]:
df['Height'].mean()

157.24093750000003

In [18]:
df['Height'].var()

978.2376023185485

In [19]:
df['Height'].std()

31.276790153699412

In [20]:
#Getting the mean of weight, variance and standard deviation

In [21]:
df['Weight'].mean()

58.5

In [22]:
df['Weight'].var()

110.51612903225806

In [23]:
df["Weight"].std()

10.512665172650467